@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #06100b;
}

*::-webkit-scrollbar {
  display: none;
}

.Register,
.login,
.Home,
.PasswordReset {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.Register > *,
.login > *,
.PasswordReset > * {
  transition: all 0.6s cubic-bezier(0.18, 0.37, 0.42, 1.01);
}

.Register .container,
.login .container,
.Home .container,
.PasswordReset .container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.Register input:focus,
.login input:focus,
.PasswordReset input:focus {
  border: 2px solid transparent;
  outline: none;
  box-shadow: 0 0 0 4px #1d633fb9;
}
.Register button:focus,
.Register button:hover,
.login button:hover,
.login button:focus,
.Input button:focus,
.Input button:hover,
.PasswordReset button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #1d633fb9;
}

.Sidebar {
  /* flex: 1; */
  background: linear-gradient(45deg, #10673a 0%, #079b4f 100%);
  color: #fff;
  box-shadow: inset -14px 0px 26px rgba(0, 0, 0, 0.25);
  /* width: 30%; */
}

.Chat {
  /* flex: 2; */
  /* width: 70%; */
}

.Message.owner {
  flex-direction: row-reverse;
}

.Message.owner .content {
  background-color: #1d633f;
  color: #fff;
  border-radius: 1rem 0 1rem 1rem !important;
}

.Message .content {
  border-radius: 0 1rem 1rem 1rem;
}

.Message .content img {
  max-width: 400px;
  border-radius: 0.5rem;
  margin-inline: auto;
  /* display: none; */
}

@media (max-width: 470px) {
  .Message .content img {
    max-width: 240px;
  }
}
